[Desktop Entry]
# Spec version, NOT application Version
Version=1.0
Name=Promoe
GenericName=XMMS2 Client
Categories=Qt;Application;AudioVideo;Audio;
Exec=promoe
Icon=promoe
Terminal=false
Type=Application

